In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/03_Library SystemCustomers.csv')
print(df.head(10))
print("row count:" + str(df.shape[0]))

   Customer ID     Customer Name
0          1.0          Jane Doe
1          2.0        John Smith
2          3.0        Dan Reeves
3          NaN               NaN
4          5.0    William Holden
5          6.0     Jaztyn Forest
6          7.0     Jackie Irving
7          8.0  Matthew Stirling
8          9.0         Emory Ted
row count:9

In [7]:
##empty cells
empty_rows = df.isna()
print(empty_rows.sum())

## view empty Id's
empty_id = df[df['Customer ID'].isna()]
print(empty_id)
##alter df to exclude blanks IDs
df = df[df['Customer ID'].notna()]

print("row count:" + str(df.shape[0]))

Customer ID      1
Customer Name    1
dtype: int64
   Customer ID Customer Name
3          NaN           NaN
row count:8

In [8]:
##empty cells
empty_rows = df.isna()
print(empty_rows.sum())

Customer ID      0
Customer Name    0
dtype: int64

In [9]:
print(df.dtypes)

Customer ID      float64
Customer Name     object
dtype: object

In [13]:
#convert IDs to int
df['Customer ID'] = df['Customer ID'].astype(int)
df.head(10)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9156\449319697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer ID'] = df['Customer ID'].astype(int)

   Customer ID     Customer Name
0            1          Jane Doe
1            2        John Smith
2            3        Dan Reeves
4            5    William Holden
5            6     Jaztyn Forest
6            7     Jackie Irving
7            8  Matthew Stirling
8            9         Emory Ted

In [14]:
#duplicate check
df.duplicated().sum()

0